@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-----------------Heading */
html, body 
{padding:0; margin:0; height:100%;}
body{
    font-family: "Roboto", sans-serif;
     position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", sans-serif;
}
.text-center{
    margin-right: 20%;
}
/*----------portfolio-------------*/
.active{
border-bottom: 1px solid rgb(236, 235, 235);
}
#menubar{
background-color:rgba(7, 7, 7, 0.8);
height:40px;
width: 100%;
position:fixed;
z-index: 4;


}
#menubar, ul{
   
    font-size: 95%;
    list-style-type: none;
    letter-spacing: 2px;
    padding-right: 10px;
    
    
    
  

}
.dropdown-menu{
    padding:0;
}
    

#menubar, li{
    float:right;
     margin-right: 0;
     text-align: center;
     padding-right: 9px;
     padding-top: 2px;
     padding-bottom: 40px;
    
}
#menubar li a{
    text-decoration: none;
}
#name, #menubar{
     line-height: 35px;
}
#name {
    margin-left: 0px;
    background-color:#fafafa;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Oswald", sans-serif;
    overflow: hidden;
  
   
    
}
#name a{
    text-decoration: none;
    color:#1e1e1e;
}
.degree{
    font-family: "Roboto", sans-serif;
}
nav a{
   color:#fafafa; 
    text-decoration: none;
}
nav a:hover{
   color:#fafafa; 
    text-decoration: none;
    color:#5c5a5a
}
#name li{
    text-align: center;
}
.dropdown-menu a {
    color:black;
    padding-right: 30px;
   text-align:center;
  
}

.dropdown-menu li a{
text-align:center;
}
button {
float: right;
padding-bottom: 10px;
}
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@media (min-width: 576px){
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 15%;
}
}
/*------Heroimage*/

    

#hero-image{
    background: url("../images/software_developer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

@media screen and (max-width: 576px){
#hero-image{
    height:360px;
}
}


/*-----skills*/
#skills .jumbotron {
    margin: 30px 20px 40px 20px;
}
.alert-success{
background-color: #fafafa;
}


/*------Buttons menu indext/contact/skills*/
#buttons{
    display: block;
}
#buttons .col-12{
    height: 100px;
    
   
   
    

}
#buttons .btn-primary{
    border-color: #1e1e1e;
    background-color:rgba(7, 7, 7, 0.9);
}
.btn-primary a{
    color: #fafafa;
    text-decoration: none;
}
.btn-primary a:hover {
    color: rgb(7, 7, 7);
    
}
#buttons .col-12:hover{
    background-color:rgba(7, 7, 7, 0.6);
    color: rgb(7, 7, 7);
}
#buttons a i{
font-size: 30px;
display: block;
}
/*------Articles*/

#paragraphs {
text-align: center;
display: block;

}
.paragraph-1{
    padding-top: 10px;
}
.jumbotron{
    margin:10px 10px 10px 10px;
    padding-top: 20px;
background-color:rgba(27, 27, 29, 0.1);
position: relative;


}

    
#paragraph-2 h4 i{
display: block;
font-size: 40px;
margin-top: 30px;
margin-bottom: 30px;
}
#paragraph-1 h4 i{
display: block;
font-size: 40px;
margin-top: 30px;
margin-bottom: 30px;
}
#paragraphs h4{
    margin-top: 30px;
margin-bottom: 30px;
}

#paragraphs p {
text-align:justify;
display: block;
}
/*footer*/
    footer{
     position: relative;
     bottom: 0; left: 0; right: 0;
     background:rgba(7, 7, 7, 0.9);
     height: 130px;
     width:100%;
     overflow: hidden;
     }
.social-media a {
    color:#fafafa;
    size: 30px;
}
.social-media a:hover {
    color:#b1abab;
}
.social-media ul i{
font-size: 40px;
}
.social-media li{
    float: right;
    margin-right: 0;
    text-align: center;
    padding-right: 27px;
    padding-top: 30px;
    padding-bottom: 20px;
}
/*----------skill----------*/
.progress{
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}
.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color:#fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress-section{
    margin:40px 20px;
} 
.progress-bar{
background-color: #222f40;

}
.bg-gray{
    background-color:#dbdbe0;
}
.bg-dark-gray{

background-color:#818da6;
}
.bg-grayblue{
    background-color: #8fa9c2;
}
.jumbotron-header, .alert-heading{
font-family: "Oswald", sans-serif;
margin-top: 20px;
margin-bottom: 30px;

}
h4 i{
    font-size: 60px;
    margin-top: 20px;
    color: #5c5a5a;
}
.alert-success hr {
    border-top-color:#838080;
}
.alert-success {
    border-color:#838080;
    color: #838080;
}

hr{
    color: #838080;
}
#skills .col-12{
        padding-bottom: 30px;
        position: relative;
}
#skills .jumbotron{
    margin: 30px 20px 40px 20px;
     background: url("../images/blured.png");
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
   
/*form---------*/
.block-label {
    display: block;
    margin: auto;
    margin-top: 20px;
    
}
#fname{
    margin-bottom: 20px;
    margin-top: 20px;
}
#text-area{
     margin: auto;
    margin-top: 20px; 
    display: block;
    overflow: hidden;
    max-width:95%;
}
#form .jumbotron{
    margin: 30px 20px 40px 20px;
    overflow: hidden;
}
.fa-envelope{
    font-size: 74px;
}
#form h5{
    color:#1e1e1e;
}
/*----Portfolio--*/
#designs{
column-gap: 0px;
}
img {
    height: auto;
    width: 100%;
}
@media screen and (min-width: 576px){
    #designs{
    column-count: 2;}
}
#contact #form .jumbotron{
    background: url("../images/blured.png");
    background-attachment: fixed;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 576px){
#contact #form .alert-success {
    background-color: rgba(86,85,88,0.3);
    margin-right: 20%;
    margin-left: 20%;
}
}